@model IEnumerable<WEB.Models.Loan>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, string> loanStatusDictionary = new Dictionary<int, string>()
    {
        { 1, "Waiting For Pickup" },
        { 2, "On Loan" },
        { 3, "Returned" },
        { -1, "Past Due Pickup" },
        { -2, "Past Due Return" }
    };
}

<div class="text-center">
    <h1 class="display-4">Loan Manager</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Instance Id")</th>
            <th>@Html.DisplayName("User Id")</th>
            <th>@Html.DisplayName("Borrowed Date")</th>
            <th>@Html.DisplayName("Returned Date")</th>
            <th>@Html.DisplayName("Due Date")</th>
            <th>@Html.DisplayName("Status")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                DateTime dueDate = ((DateTime)item.BorrowedDate).AddDays(31).Date;

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.InstanceId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.BorrowedDate)</td>
                    <td>
                        @if (item.ReturnedDate == null)
                        {
                            <span class="display-value">Not returned yet</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ReturnedDate)
                        }
                    </td>
                    <td><span class="display-value">@dueDate.ToString("dd/MM/yyyy")</span></td>
                    <td class="status-cell" data-status-id="@item.StatusId">
                        @loanStatusDictionary[item.StatusId]
                        <span class="bi bi-pencil-fill float-end"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No loans found.</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .status-cell {
        cursor: pointer;
        font-weight: bold;
        color: #41644A;
    }

        .status-cell:hover {
            text-decoration: underline;
        }
</style>

@*<script>
    document.addEventListener("DOMContentLoaded", function () {
        var statusCells = document.querySelectorAll(".status-cell");

        statusCells.forEach(function (cell) {
            cell.addEventListener("click", function () {
                var statusId = this.dataset.statusId;
                // Do something with the statusId, such as redirecting to a new page or performing an action
                console.log("Clicked statusId: " + statusId);
            });
        });
    });
</script>*@
