@model IEnumerable<WEB.Models.Loan>

@{
    ViewData["Title"] = "Loan Manager";
    Dictionary<long, string> loanStatusDictionary = new()
    {
        { 1, "Waiting For Pickup" },
        { 2, "On Loan" },
        { 3, "Returned" },
        { -1, "Past Due Pickup" },
        { -2, "Past Due Return" },
        { -3, "Cancel"}
    };
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Instance Id")</th>
            <th>@Html.DisplayName("User Id")</th>
            <th>@Html.DisplayName("Borrowed Date")</th>
            <th>@Html.DisplayName("Returned Date")</th>
            <th>@Html.DisplayName("Due Date")</th>
            <th>
                <select id="statusSelect" class="form-control">
                    <option value="0">All status</option>
                    @foreach (var key in loanStatusDictionary.Keys)
                    {
                        if (key == ((int?)ViewData["StatusId"] ?? 0))
                        {
                            <option selected value="@key">@loanStatusDictionary[key]</option>
                        }
                        else
                        {
                            <option value="@key">@loanStatusDictionary[key]</option>
                        }
                    }

                </select>
                <script>
                    document.getElementById('statusSelect').addEventListener('change', function () {
                        var statusId = this.value;
                        window.location.href = '/Loans/Index?statusId=' + statusId;
                    });
                </script>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                DateTime dueDate = ((DateTime)item.BorrowedDate).AddDays(31).Date;

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.InstanceId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.BorrowedDate)</td>
                    <td>
                        @if (item.ReturnedDate == null)
                        {
                            <span class="display-value">Not returned yet</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ReturnedDate)
                        }
                    </td>
                    <td><span class="display-value">@dueDate.ToString("dd/MM/yyyy")</span></td>
                    <td>
                        <span>@loanStatusDictionary[item.StatusId]</span>
                    </td>
                    <td>
                        @if (item.StatusId > 0)
                        {
                            string? action = null;
                            if (item.StatusId == 1) action = "Pickup?";
                            else if (item.StatusId == 2) action = "Returned?";
                            if (action != null)
                            {
                                <a class="btn btn-primary" asp-action="PlusStatus" asp-route-loanId="@item.Id">@action</a>
                            }
                            if (item.StatusId != 3)
                            {
                                <a class="btn btn-primary" style="background-color: darkred !important;" asp-action="UpdateStatus" asp-route-loanId="@item.Id" asp-route-isCancel="true">Cancel</a>
                            }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" style="font-size: 20px;"><b>No loans found!</b></td>
            </tr>
        }
    </tbody>
</table>

<style>
    #status-detail {
        cursor: pointer;
        font-weight: bold;
        color: #41644A;
    }

        #status-detail:hover {
            text-decoration: underline;
        }

    .table {
        display: table;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: 100%;
    }

        .table tbody {
            display: table-row-group;
        }

        .table tr {
            display: table-row;
        }

        .table td, .table th {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px solid black;
            padding: 8px;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var statusCells = document.querySelectorAll(".status-cell");

        statusCells.forEach(function (cell) {
            cell.addEventListener("click", function () {
                var statusId = this.dataset.statusId;
                alert(statusId);
            });
        });
    });
</script>
