@model IEnumerable<WEB.Models.Book>

@{
    ViewData["Title"] = "Index";
    int pageCount = ViewBag.PageCount ?? 1;
    var authors = ViewBag.Authors as IEnumerable<Author>;
    var categories = ViewBag.Categories as IEnumerable<Category>;
    var publishers = ViewBag.Publishers as IEnumerable<Publisher>;
}

<div class="text-center"><h1 class="display-4">Books</h1></div>

<form action="/Books/Index" method="get">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <select id="authorId" name="authorId" class="form-control" asp-items="@(new SelectList(authors, "Id", "Name"))">
                    <option value="">Select author</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select id="categoryId" name="categoryId" class="form-control" asp-items="@(new SelectList(categories, "Id", "Name"))">
                    <option value="">Select category</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select id="publisherId" name="publisherId" class="form-control" asp-items="@(new SelectList(publishers, "Id", "Name"))">
                    <option value="">Select publisher</option>
                </select>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </div>
</form>


<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-6 col-md-2">
                <div class="card mb-4">
                    <img class="card-img-top" src=@Url.Content(book.CoverImagePath) alt="@book.Title">
                    <div class="card-body text-center">
                        <h6 class="card-title">@book.Title</h6>
                        <a asp-action="Detail" asp-route-id="@book.Id" class="btn btn-primary">Detail</a>
                        <a asp-controller="Loans" asp-action="Create" asp-route-id="@book.Id" class="btn btn-primary">Loan</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div style="display: flex;">
        @for (var i = 1; i <= pageCount; i++)
        {
            <a asp-controller="Books" asp-action="Index" asp-route-page="@i" class="btn btn-primary" style="margin-right: 5px;">@i</a>
        }
    </div>
</div>

<style>
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
