@model IEnumerable<WEB.Models.User>

@{
    ViewData["Title"] = "Reader Manager";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            int fine = 0;
            foreach (var loan in user.Loans!)
            {
                fine += loan.Instance!.Book!.Price;
            }
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Username</td>
                <td>
                    @if (!user.IsLocked)
                    {
                        <a asp-action="ReaderManager" asp-route-userId="@user.Id" asp-route-isLock="true" class="btn btn-primary">Lock</a>
                    }
                    else
                    {
                        <a asp-action="ReaderManager" asp-route-userId="@user.Id" asp-route-isLock="false" class="btn btn-primary">Unlock</a>
                        <span>debt: @fine</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
