@using WEB.Models
@model Dictionary<string, IEnumerable<Book>>

@{
    ViewData["Title"] = "Search";
}

<script>
    var form = document.getElementById("search-form");
    var input = document.getElementById("search-input");

    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            form.submit();
        }
    });
</script>

<div class="text-center"><h1 class="display-4">@ViewData["Title"]</h1></div>

<form asp-action="Search" class="d-flex">
    <input class="form-control me-2 rounded-pill" type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Search by Author, Title, ..." required>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Search results:</h2>

            @foreach (var pair in Model)
            {
                if (pair.Value.Any())
                {
                    <h4 style="color: #566E2D;margin-top: 30px; text-align: center;"><b>Search By: @pair.Key</b></h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in pair.Value)
                            {
                                <tr id="tr-search" onclick="window.location.href='@Url.Action("Detail", "Books", new { id = book.Id })'">
                                    <td>@book.Title</td>
                                    <td>@(book.Author!.Name)</td>
                                    <td>@(book.Publisher!.Name)</td>
                                    <td>@(book.Category!.Name)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>

<style>
    #tr-search:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
</style>