@using WEB.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ice Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <!-- Đường dẫn đến thư viện Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @inject ApiHelper ApiHelper
    @{
        var HttpContext = HttpContextAccessor.HttpContext!;
        bool isLogin = bool.Parse(HttpContext.Session.GetString("IsLogin") ?? "false");
        bool isApiResponse = bool.Parse(HttpContext.Session.GetString("IsApiResponse") ?? "true");
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">

                @if (isApiResponse)
                {
                    @if (isLogin)
                    {
                        int userId = HttpContext.Session.GetInt32("UserId") ?? 3;
                        User? user = await ApiHelper.GetByID<User>(userId, "Users");
                        int roleId = user!.RoleId;
                        if (roleId == 1)
                        {
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>

                            <ul class="navbar-nav me-auto">
                                <li><a class="nav-link text-light" asp-controller="Books" asp-action="Index">Books</a></li>
                                <li><a class="nav-link text-light" asp-controller="Authors" asp-action="Index">Authors</a></li>
                                <li><a class="nav-link text-light" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                <li><a class="nav-link text-light" asp-controller="Publishers" asp-action="Index">Publishers</a></li>
                            </ul>
                        }
                        else if (roleId == 2)
                        {
                            <a class="navbar-brand" href="@Url.Action("Index", "Loans")"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>

                            <ul class="navbar-nav me-auto">
                                <li><a class="nav-link text-light" asp-controller="Books" asp-action="Manager">Book Manager</a></li>
                                <li><a class="nav-link text-light" asp-controller="Loans" asp-action="Index">Loan Manager</a></li>
                                <li><a class="nav-link text-light" asp-controller="Users" asp-action="ReaderManager">Reader Manager</a></li>
                            </ul>
                        }
                        else if (roleId == 3)
                        {
                            <a class="navbar-brand" href="@Url.Action("LibrarianManager", "Users")"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>

                            <ul class="navbar-nav me-auto">
                                <li><a class="nav-link text-light" asp-controller="Users" asp-action="LibrarianManager">Librarian Manager</a></li>
                            </ul>
                        }

                        <ul class="navbar-nav ms-auto">
                            <li><a class="nav-link text-light" asp-controller="Users" asp-action="Profile">Hello @user.Name!</a></li>
                            <li><a class="nav-link text-light" asp-controller="Login" asp-action="Logout">Logout</a></li>
                        </ul>
                    }
                    else
                    {
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>

                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link text-light" asp-controller="Books" asp-action="Index">Books</a></li>
                            <li><a class="nav-link text-light" asp-controller="Authors" asp-action="Index">Authors</a></li>
                            <li><a class="nav-link text-light" asp-controller="Categories" asp-action="Index">Categories</a></li>
                            <li><a class="nav-link text-light" asp-controller="Publishers" asp-action="Index">Publishers</a></li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <li><a class="nav-link text-light" asp-controller="Login" asp-action="Index">Login</a></li>
                            <li><a class="nav-link text-light" asp-controller="Register" asp-action="Index">Register</a></li>
                        </ul>
                    }
                }
                else
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/web-logo.png" alt="Library Logo" style="width:40px;" class="rounded-pill"></a>
                    <ul class="navbar-nav me-auto">
                        <li><h1 style="color: red;"><strong>Can't Connect to Database!</strong></h1></li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (ViewData["HideFooter"] == null)
    {
        <div style="height: 300px;"></div>
        <footer class="footer" style="background-color: #D7E7A9;">
            <div style="height: 5px;"></div>
            <div class="row" style="margin: 10px 20px; text-align:center;">
                <div class="col-md-3 col-sm-6" style="border: solid 1px;">
                    <h4>Address</h4>
                    <h6>828 Sư Vạn Hạnh Street,<br />Ward 13, District 10, HCMC</h6>
                </div>
                <div class="col-md-3 col-sm-6" style="border: solid 1px;">
                    <h4>Phone</h4>
                    <h6>0389653102</h6>
                </div>
                <div class="col-md-3 col-sm-6" style="border: solid 1px;">
                    <h4>Email</h4>
                    <h6>anhtai05102002@gmail.com</h6>
                </div>
                <div class="col-md-3 col-sm-6" style="border: solid 1px;">
                    <h4>Opening Hours</h4>
                    <h6>Mon - Sat: 7:00am - 9:30pm<br />Sunday: 7:00am - 10:00pm</h6>
                </div>
            </div>
            <div style="text-align: center; line-height: 50px; height: 60px;">
                ©2023 by Nguyễn Anh Tài - Ice Library - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<!--Alert container-->
<div id="alert-container"></div>
<!--Alert style-->
<style>
    #alert-container {
        position: fixed;
        top: 70px;
        right: 20px;
        z-index: 9999;
    }

    .alert {
        margin-top: 10px;
    }

    .hide {
        opacity: 0;
    }

    .alert-success {
        background-color: #D4EDDA;
        color: #155724;
    }

    .alert-warning {
        background-color: #FFF3CD;
        color: #856404;
    }

    .alert-danger {
        background-color: #F8D7DA;
        color: #721C24;
    }

    .alert-info {
        background-color: #D1ECF1;
        color: #0C5460;
    }
</style>


@{
    //ShowMsg
    var msgDict = ViewData["MsgDict"] as Dictionary<string, List<string>>;
    if (msgDict != null)
    {
        foreach (var pair in msgDict)
        {
            string status = pair.Key.ToLower();
            foreach (var msg in pair.Value)
            {
                <script>
                    $(document).ready(function () { createAlert("@msg", "@status"); });
                </script>
            }
        }
        ViewData.Remove("MsgDict");
    }
}