@model IEnumerable<WEB.Models.BookVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Create New</button>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Infomation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@(book.AuthorName)</td>
                <td>@(book.CategoryName)</td>
                <td>
                    <a href="@Url.Action("Detail", "Book", new { id = book.ID })">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
